<!-- <div class="card">
    <form #personalInfoForm="ngForm" (ngSubmit)="submitPersonalInfo()">
        <div class="row">
            <div class="col-4">
        <div class="form-group">
            <label for="aadhar">Aadhar No:</label><br>
            <input type="number" id="aadhar" name="aadhar" [(ngModel)]="personalInfo.aadhar" required>
        </div>
            </div>
            <div class="col-4">
        <div class="form-group">
            <label for="pan">Pan No:</label><br>
            <input type="text" id="pan" name="pan" [(ngModel)]="personalInfo.pan" required>
        </div>
    </div>
    <div class="col-4">
        <div class="form-group">
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name" [(ngModel)]="personalInfo.name" required>
        </div>
    </div>
        </div>
        <div class="row">
        <div class="col-4">
        <div class="form-group">
            <label for="fathername">Father Name:</label><br>
            <input type="text" id="fathername" name="fathername" [(ngModel)]="personalInfo.fathername" required>
        </div>
    </div>
    <div class="col-4">
        <div class="form-group">
            <label for="dob">BOD:</label><br>
            <input type="date" id="dob" name="dob" [(ngModel)]="personalInfo.dob" required>
        </div>
    </div>
    <div class="col-4">
        <div class="form-group">
            <label for="mobile">Mobile No:</label><br>
            <input type="number" id="mobile" name="mobile" [(ngModel)]="personalInfo.mobile" required>
        </div>
    </div>
        </div>
        <div class="row">
        <div class="col-4">
        <div class="form-group">
            <label for="email">Email No:</label><br>
            <input type="email" id="email" name="email" [(ngModel)]="personalInfo.email" required>
        </div> 
    </div>
    <div class="col-4">
        <div class="form-group">
            <label for="address">Address No:</label><br>
            <input type="text" id="address" name="address" [(ngModel)]="personalInfo.address" required>
        </div>
    </div>
        </div>

        <button class="btn btn-primary" type="submit" [disabled]="!personalInfoForm.valid">Submit</button>
    </form>

</div> -->